images/
annotations/
results/
external/
.DS_Store
*.ipynb
*.so

epycocotools/__init__.pyc
epycocotools/_mask.c
epycocotools/_mask.so
epycocotools/coco.pyc
epycocotools/cocoeval.pyc
epycocotools/mask.pyc

epycocotools.egg-info/
build/